* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f9fc;
  color: #333;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 1rem auto;
}